.github
.husky
.server
.vscode
.yarn
**/node_modules
**/playwright-report
**/test-results
.cache_ggshield
**/*.env

api/uploads
dashboard/src-tauri/target

**/.yarn
**/build
**/yarnrc.yml
**/index.html
**/public
**/src/assets/Lato/font-face.css
