name: Tests - Playrwright and Jest
on:
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 45
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          # cache: yarn
          # cache-dependency-path: "**/yarn.lock"
      - name: Install dependencies
        run: yarn --immutable

      - name: Install dashboard dependencies
        run: yarn --cwd ./dashboard --immutable

      - name: Run Dashboard Jest tests
        run: yarn --cwd ./dashboard test

      - name: Install api dependencies
        run: yarn --cwd ./api  --immutable

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Init DB
        run: yarn test:init-db
        env:
          PGDATABASE: manotest
          PGBASEURL: postgres://postgres:postgres@localhost:5432

      - name: Run Playwright tests
        run: yarn playwright test
        env:
          PGBASEURL: postgres://postgres:postgres@localhost:5432
          PGHOST: localhost
          PGDATABASE: manotest
          PGPORT: 5432
          PGUSER: postgres
          PGPASSWORD: postgres

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
